</main>

<footer>
    <div class="container">
        <p>Escucha, Siente y Domina</p>
        <p><%= new Date().getFullYear() %> AURALITH &copy;</p>
    </div>
</footer>

<script>
</script>
</body>

</html>